/* Import Font Poppins dari Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* Import Tailwind v4 */
@import "tailwindcss";

/* Konfigurasi Tema di Tailwind v4 */
@theme {
  --font-sans: "Poppins", sans-serif;
}

/* Styling dasar */
body {
  @apply bg-gray-900 text-white font-sans;
}